

.CardSizer{
    width: 400px;
}


.btn-edit{
    width: 20%;
    display: inline;
    margin: 10px;
    min-height: 70px;
   
}

.btn-delete-user{
    background: #ff7851;

}

th{
    text-align: center;
}

.tbl-btn{
    display: block;
    margin: auto;
}

.CardSizer div{
    width: 80%
}

.CardImgSizer{
    margin: auto;
    max-height: 40px;
    max-width: 400px;
}
